{% extends 'base.html.twig' %}

{% block body %}

<div id ="page-403">
Vos permissions de compte (utilisateur) ne vous donne pas accès au Back-office du site.<br/>
Si vous disposez d'un compte Administrateur <a href="/deconnexion">déconnectez-vous</a> du compte actuel et connectez-vous avec votre compte administrateur pour accèder au Back-office.

</div>

{% endblock %}