{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-404">
        <h1>Page non trouvée</h1>

        <p>La page demandée est introuvable. Vérifiez toute erreur d'orthographe dans l'URL ou <a href="{{ path('homepage') }}">retournez sur la page d'accueil</a>.</p>
    </div>
    
{% endblock %}